# Python Technical
pydantic~=2.0
python-dotenv~=1.0
tqdm~=4.66.0

# Web Scraping
beautifulsoup4~=4.12.0
requests~=2.31.0

# Language Processing
spacy~=3.7.0
spacy-lookups-data~=1.0.0
en-core-web-trf@https://github.com/explosion/spacy-models/releases/download/en_core_web_trf-3.7.3/en_core_web_trf-3.7.3-py3-none-any.whl#sha256=f72abb34bdf174876bd4267b29b2501677e605e0a251fdc56c163003182ed68b
transformers~=4.44.0
stanza~=1.8.0


# Database
neo4j~=5.23.0
peft~=0.12.0

# Testing
pytest~=8.2.0

# Misc
-e .
setuptools~=69.0
black~=24.0